.cursor-pointer {
    cursor: pointer;
}

#root .nav-tabs .nav-link {
    color: #495057;
    outline: none;
}

#root .nav-tabs .nav-link.active {
    color: #28a745;
    border-color: #fff #fff #28a745
}

.icon-container {
    height: 32px;
    width: 32px;
}

.input-date {
    color: transparent;
    border: 0;
    position: absolute;
    background: transparent;
    outline: none;
    cursor: pointer;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
}

.input-date~label {
    cursor: pointer;
}

.input-date::-webkit-calendar-picker-indicator {
    width: 100%;
    left: 0;
    position: absolute;
    height: 100%;
    background: transparent;
    color: transparent;
    cursor: pointer;
}